################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RepoPatterns/v15
/Decorator/bin/Debug
/Decorator/obj/Debug
/FactoryMethod/obj/Debug
/FactoryMethod/bin/Debug
/Iterator/bin/Debug
/Iterator/obj/Debug
/Observer/bin/Debug
/Observer/obj/Debug
/RepoPatterns/bin/Debug
/RepoPatterns/obj/Debug
/Repository/obj/Debug
/UnitOfWork/obj/Debug
/Adapter/obj/Debug
/Adapter/Properties
/Builder/bin/Debug
/Builder/obj/Debug
/Builder/Properties
/Composite/obj/Debug
/Composite/Properties
/ChainOfResponsability/obj/Debug
/ChainOfResponsability/bin/Debug
/ChainOfResponsability/Properties
/Command/Properties
/Command/obj/Debug
/Composite/bin/Debug
/Interpreter/Properties
/Interpreter/obj/Debug
/Interpreter/bin/Debug
/Adapter/bin/Debug
/Repository/bin/Debug
/UnitOfWork/bin/Debug
/Mediator/bin/Debug
/Mediator/obj/Debug
/Visitor/obj/Debug
/Visitor/bin/Debug
/Bridge/obj/Debug
/Bridge/bin/Debug
/Bridge/Properties
/Flyweight/bin/Debug
/State/obj/Debug
/State/bin/Debug
/State/Properties
/Proxy/obj/Debug
/Proxy/Properties
/Proxy/bin/Debug
/ProtoType/obj/Debug
/ProtoType/bin/Debug
/ProtoType/Properties
/Memento/Properties
/Memento/obj/Debug
/Memento/bin/Debug
/Flyweight/Properties
/Flyweight/obj/Debug
